Service References/NavigatorService/NavigatorService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50681/NavigatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:import schemaLocation="http://localhost:50681/NavigatorService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Authentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="AuthenticationResult" nillable="true" type="q1:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootDirForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootDirForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetRootDirForUserResult" nillable="true" type="q2:BrowserDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListOfDataResult" nillable="true" type="q3:BrowserDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="mFileByteStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" name="mMetaFile" nillable="true" type="q5:FilesystemObject" />
  <xs:element name="ManFilesystemObjResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="mResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNostreamOperationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accessBitset" type="xs:int" />
        <xs:element minOccurs="0" name="currDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idGroup" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="newDirName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="obj" nillable="true" type="q7:FilesystemObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFilesystemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="mFileByteStream" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" name="mObj" nillable="true" type="q9:FilesystemObject" />
  <xs:element name="mOrigFilesize" type="xs:int" />
  <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1" name="mResult" nillable="true" type="q10:OperationResult" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password_hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="AddUserResult" nillable="true" type="q11:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idUserToDelete" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="DeleteUserResult" nillable="true" type="q12:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetUsersResult" nillable="true" type="q13:GetUsersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetGroupsResult" nillable="true" type="q14:GetGroupsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="AddGroupResult" nillable="true" type="q15:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idGroup" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="DeleteGroupResult" nillable="true" type="q16:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="targetUserID" type="xs:int" />
        <xs:element minOccurs="0" name="targetGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="AddUserToGroupResult" nillable="true" type="q17:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="targetUserID" type="xs:int" />
        <xs:element minOccurs="0" name="targetGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="DeleteUserFromGroupResult" nillable="true" type="q18:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idObject" type="xs:int" />
        <xs:element minOccurs="0" name="newAccessBitset" type="xs:int" />
        <xs:element minOccurs="0" name="newOwnerID" type="xs:int" />
        <xs:element minOccurs="0" name="newGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ChangeAccessResult" nillable="true" type="q19:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>